## Logs
#logs
#*.log
#npm-debug.log*
#yarn-debug.log*
#yarn-error.log*
#pnpm-debug.log*
#lerna-debug.log*
#
#node_modules
#dist
#dist-ssr
#*.local
#
## Editor directories and files
#.vscode/*
#!.vscode/extensions.json
#.idea
#.DS_Store
#*.suo
#*.ntvs*
#*.njsproj
#*.sln
#*.sw?

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac OS specific
*.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

# Log files
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sentry debug log
.sentryclirc

# Ignore parcel cache
.cache/

# Ignore next.js build output
.next/
out/

# Ignore public and private keys
*.pem

# Coverage directory used by tools like istanbul
coverage/

# TypeScript cache
*.tsbuildinfo